
<img ng-if="subject == 'Алгебра' && index == 0" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Английский язык' && index == 1" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Биология' && index == 2" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'География' && index == 3" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Геометрия' && index == 4" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Естествознание' && index == 5" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Информатика' && index == 6" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'История' && index == 7" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Математика' && index == 8" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Обществознание' && index == 9" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Окружающий мир' && index == 10" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Русский язык' && index == 11" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Физика' && index == 12" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />
<img ng-if="subject == 'Химия' && index == 13" ng-src="{{url}}" alt="{{subject}}" title="{{subject}}" width="{{width}}px" />

